<%= form.simple_fields_for :ingredients do |ingredient| %>
	<div>
    <%= form.input :ingredient %>
    <%= form.input :done, :as => :boolean %>
    <%= link_to_remove_association "remove task", f %>
	</div>
	
