<div>
    <%= f.input :name %>
    <!-- need to be able to remove ingredients below- change in controller- do I need a migration?? -->
    <%= f.input	 :_destroy %>
    <%= link_to_remove_association "remove ingredient", :_destroy %>
</div>
