<div>
    <%= f.input :name, label: 'Ingredient' %>
    <!-- need to be able to remove ingredients below- changed in controller- do I need a migration?? -->
    <%= link_to_remove_association 'Remove Ingredient', f, :_destroy %>
</div>
