<div class="bg-image m-0">
<h1 class="text-center m-3"><%=current_user.name %>'s Recipes</h1>
<a href="recipes/new" class="btn colors float-right mr-3 bold-f">Add a New Recipe</a>
<% @recipes.each do |recipe|%>
	<div class="card w-75 m-4 p-3 shadow card-colors">
    <div class="card-block">
    	<h3 class="card-title"><%= recipe.name %></h3>
    	<p class="card-text">Description: <%= recipe.description %></p>
    	<a class="btn purple-button mr-4 bold-f" href="recipes/<%=recipe.id%>"> View This Recipe </a>
    </div>
  </div>
<% end %>
</div>