<h1>Create a New Recipe</h1>
 <div class="">
      <%= form_for @recipe do |form| %>
        <div>Title: <%= form.text_field :name %></div>
        <div>Description: <%= form.text_field :description %></div>
    </div>
  </div>
  <div><%= form.submit %></div>
  <% end %>
</div>
