<h1 class="text-center m-4">Create Your Family Here</h1>
<div class="container">
  <div class="card card-colors m-4 pb-3">
    <div class="container p-5">
      <%= simple_form_for @group, html: {class: "form forms"} do |f| %>
        <%= flash[:group_errors] %>
  <div class="form-group forms w-50 m-5">
     <%= f.input :name, class: "form-control-lg" %>
  </div>  
  <div class="form-group forms w-50 m-5">
    <%= f.input :location, class: "form-control-lg" %>
  </div>
  <button type="submit" class="btn purple-button ml-5 mt-3">Create Group</button>
  <% end %>
</div>
