<h1>Create your Family Group!</h1>
 <div class="">
      <%= form_for @group do |form| %>
        <div>Family Name: <%= form.text_field :name %></div>
        <div>Location: <%= form.text_field :location %></div>
    </div>
  </div>
  <div><%= form.submit %></div>
  <% end %>
</div>
