<h1><%= @group.name%></h1>
<h1><%= @group.location%></h1>
<h2> Family Members in this Family: 
	<% @group.users.each do |user|%>
	<h3> 
		<%= user.name%>
	</h3>
	<% end %>
</h2>
<% @group.recipes.each do |recipe|%>
<%= recipe.name %>
<% end %>