<div class="home_page jumbotron jumbotron-fluid mx-auto">
	<div class="container text-center border-home rounded p-3">
		<h1 class="display-4">Welcome to Granny's Recipes</h1>
		<p class="lead bold-f">Add, share and save your family's recipes here.  When you're done, create your own custom cookbook!</p>
		<a class="btn colors mr-4 bold-f" href="recipes"> View Your Recipes </a>
		<%= link_to "View Your Groups", groups_path, class: "btn colors mr-4 bold-f" %>
	</div>
</div>
