<div class="home_page jumbotron jumbotron-fluid mx-auto">
	<div class="container">
		<h1 class="display-4">Welcome to Granny's Recipes</h1>
		<p class="lead">Add, share and save your family's recipes here.  When you're done, create your own custom cookbook!</p>
		<a class="btn colors" href="recipes"> View Your Recipes </a>
		<a class="btn colors" href="groups"> View Your Groups </a>
	</div>
</div>
