/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
body {
  -webkit-font-smoothing: antialiased;
	font-family: 'Josefin Slab', serif;
	color: #451a5e;
}

.border-home {
	border: 1.5px solid #380e50;
}

/*Components*/

.bold-f {
	font-weight: 600;
}

h1 {
	font-family: 'Pacifico', cursive;
}

.home_page {
	background: image-url("family_in_flour.jpg");
	background-size: cover;
	min-height: 100%;
	width: 100%;
  height: auto;
  position: fixed;
  left: 0;
  color: #451a5e;

}

.header {	
	background-color: #efb537a8;
	height: 100px;
	line-height: 100px;
	margin: 0 auto;
	color: #451a5e;
	font-family: 'Pacifico', cursive;
}

.header h2 {
	line-height: 100px;
}

a {
	color: #451a5e;
}

.colors {
	color: #451a5e;
	background-color: #efb537;
}

.card-colors {
	background-color: #f6e4ba;
}

.purple-button {
	color: #efb537;
  background-color: #451a5e;
 	font-weight: 600;
  font-size: 18px;
}

.bg-image {
	background: image-url("mini-cakes.jpg");
	background-size: cover;
	min-height: 100%;
	width: 100%;
  height: auto;
  position: absolute;
  left: 0;
}

.forms {
	font-size: 20px;
}