.page-container {
  clear: both;
  display: block;
  height: 1268px;
  padding-left: 20px;
  padding-right: 50px;
  padding-top: 30px;
  position: relative;

 .title-page {
  font-size: 60px;
  line-height: 1200px;
  padding-left: 50px;
 }

  h1 {
    font-size: 40px;
    text-align: center;
  }
}
.always-break { 
  page-break-before: always; 
}

.image {
  padding-top: 50px;
}