.page-container {
  clear: both;
  display: block;
  height: 1268px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  position: relative;
 } 

 .title-page {
  font-size: 50px;
  padding-left: 50px;
 }

h1 {
  font-size: 40px;
  text-align: center;
}

.always-break { 
  page-break-before: always; 
}

.image {
  padding-top: 50px;
}