<!doctype html>
<html>
  <head>
    <meta charset='utf-8' />
    <%= wicked_pdf_stylesheet_link_tag "book" -%>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:400,600,700|Pacifico" rel="stylesheet">
  </head>
  <body>
    <%= yield %>
  </body>
</html>